openapi: 3.0.3
info:
  title: ToolBox JL — API Platform
  description: >
    Contrato de API canónico de la plataforma ToolBox JL (gestión, alquiler, venta de
    herramientas y logística inteligente). Este archivo es un artefacto de
    Spec-Driven Development (SDD): se escribe y versiona ANTES que el código
    (spec-first) y es la fuente de verdad que Claude Code consume para generar e
    implementar los controladores, DTOs y guards de rol del backend NestJS. El
    código se valida por conformidad contra este contrato, no al revés.

    Fuente de contenido: Esquema de Backend (DOC-BE-01) §3.2 (diccionario de
    datos) y §4 (contratos de API por módulo); complementado con TRD §4 para las
    rutas invocadas por los Agentes de IA vía tool calling.

    Convención de rutas: las tablas del Esquema de Backend usan rutas sin
    prefijo (p. ej. /catalog/search); el TRD usa el prefijo /api/v1/... al
    describir el tool calling de los agentes. Este documento resuelve esa
    inconsistencia declarando el prefijo /api/v1 en `servers` y manteniendo los
    `paths` sin prefijo — ambas formas describen el mismo endpoint físico.
  version: "1.0.0"
  contact:
    name: Equipo de Arquitectura de Soluciones — ToolBox JL
  x-sdd:
    canonical: true
    generated_by: "Claude Code (SDD spec-first) — alineado a DOC-BE-01 v1.0 y DOC-ARQ-01 §6.1"
    related_docs:
      - "01_Documento_de_Arquitectura_ToolBoxJL.docx §6.1"
      - "06_Esquema_Backend_ToolBoxJL.docx §3.2, §4"
      - "07_Plan_de_Implementacion_ToolBoxJL.docx §1.1"
      - "features/*.feature"

servers:
  - url: https://api.toolboxjl.com/api/v1
    description: Producción (futuro)
  - url: https://toolboxjl-api-staging.up.railway.app/api/v1
    description: Staging / Railway (sandbox)
  - url: http://localhost:3000/api/v1
    description: Desarrollo local

tags:
  - name: Autenticación y Seguridad
    description: >
      Épica 6 — verificación adicional por OTP de WhatsApp cuando el login o
      registro ocurre desde un dispositivo nuevo (HU-6.2). Las credenciales
      en sí (correo/contraseña, Google) las valida Supabase Auth
      directamente en el cliente; estos endpoints son el paso adicional de
      verificación de dispositivo, no un login propio.
  - name: Agente 2 — WhatsApp
    description: >
      Épica 9 — canal entrante/saliente del Agente 2 (Asistente Bidireccional
      de WhatsApp, TRD §4.2). Recordatorio de voz 24h antes del vencimiento
      (HU-9.1) y extensión de alquiler por voz (HU-9.2, que además reusa
      `GET /inventory/check-availability` y `POST /rentals/extend`).
  - name: Catálogo e Inventario
    description: RF-1.1 a RF-1.4 — modelos, unidades físicas y su hoja de vida.
  - name: Cotización, Órdenes y Pagos
    description: RF-2.1 a RF-2.4 — cotización, creación de órdenes, pagos y garantía.
  - name: Logística
    description: RF-3.1 a RF-3.3 — flota, asignación de rutas y seguimiento de envíos.
  - name: Inspección y Mora
    description: RF-4.1 a RF-4.3 — checklist de devolución y facturación de mora.
  - name: Carrito y Conserje de Voz
    description: Carrito de compras, usado también por el Agente 3 (tool calling).
  - name: Analítica
    description: KPIs de negocio para Gerencia (Fase 1 y Fase 2).

security:
  - bearerAuth: []

paths:
  /auth/otp/request:
    post:
      operationId: requestDeviceOtp
      summary: Solicitar OTP de WhatsApp para dispositivo nuevo (HU-6.2)
      description: >
        Se invoca tras un login/registro exitoso en Supabase Auth cuando el
        cliente detecta (o el backend determina) que el device_id no está
        verificado para este usuario. Genera un OTP de 6 dígitos, lo persiste
        con expiración configurable y lo envía por WhatsApp Cloud API al
        teléfono registrado del usuario. El código nunca se devuelve en la
        respuesta.
      tags: ["Autenticación y Seguridad"]
      x-roles: [cliente, admin, gerente, almacenista, repartidor]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [device_id]
              properties:
                device_id:
                  type: string
                  description: Identificador estable del dispositivo/navegador generado por el cliente.
      responses:
        "201":
          description: OTP generado y enviado por WhatsApp.
          content:
            application/json:
              schema:
                type: object
                properties:
                  otp_id: { type: string, format: uuid }
                  expira_en: { type: string, format: date-time }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429":
          description: Se superó el límite de solicitudes de OTP para este usuario/dispositivo en la ventana configurada.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /auth/otp/verify:
    post:
      operationId: verifyDeviceOtp
      summary: Verificar OTP y desbloquear el dispositivo nuevo (HU-6.2)
      description: >
        Valida el código ingresado contra el OTP vigente. Si es correcto
        antes de expirar, marca el device_id como verificado para el usuario
        autenticado, desbloqueando el acceso a las rutas protegidas desde ese
        dispositivo.
      tags: ["Autenticación y Seguridad"]
      x-roles: [cliente, admin, gerente, almacenista, repartidor]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [otp_id, codigo, device_id]
              properties:
                otp_id: { type: string, format: uuid }
                codigo: { type: string, description: "6 dígitos" }
                device_id: { type: string }
      responses:
        "200":
          description: OTP correcto — dispositivo verificado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  verificado: { type: boolean }
                  device_id: { type: string }
        "400":
          description: Código incorrecto, OTP expirado, o ya consumido.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /webhooks/whatsapp:
    get:
      operationId: verifyWhatsAppWebhook
      summary: Verificación del webhook de WhatsApp Cloud API (handshake de Meta)
      description: >
        Meta llama este endpoint UNA vez al configurar/reconfigurar la
        suscripción del webhook en el panel de WhatsApp Business — no lo
        invoca ningún cliente de la plataforma. Autenticación propia de
        Meta (no bearer JWT): si `hub.verify_token` coincide con
        `WHATSAPP_WEBHOOK_VERIFY_TOKEN`, se responde el valor de
        `hub.challenge` tal cual, como texto plano; si no coincide, 403.
      tags: [Agente 2 — WhatsApp]
      security: []
      x-roles: [público]
      parameters:
        - name: hub.mode
          in: query
          required: true
          schema: { type: string, enum: [subscribe] }
        - name: hub.verify_token
          in: query
          required: true
          schema: { type: string }
        - name: hub.challenge
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Token válido — se devuelve hub.challenge como texto plano.
          content:
            text/plain:
              schema: { type: string }
        "403":
          description: hub.verify_token no coincide con WHATSAPP_WEBHOOK_VERIFY_TOKEN.

    post:
      operationId: receiveWhatsAppWebhook
      summary: Eventos entrantes de WhatsApp Cloud API (mensajes de texto/audio, estados)
      description: >
        Meta envía acá cada mensaje entrante (texto o nota de voz) y cada
        cambio de estado de un mensaje saliente. Autenticado por firma
        (`X-Hub-Signature-256`, HMAC-SHA256 del body con
        `WHATSAPP_APP_SECRET`), no por bearer JWT — un request sin firma
        válida se descarta con 401 antes de procesar nada. El shape exacto
        del payload lo define Meta (estructura anidada
        `entry[].changes[].value.messages[]`, ver documentación pública de
        WhatsApp Cloud API) — acá se modela laxo (`object` libre) en vez de
        replicarlo campo por campo, para no acoplar el contrato a los
        cambios de shape que Meta introduce con el tiempo.
        Procesamiento: SIEMPRE responde 200 de inmediato (antes de 5s, límite
        de Meta) y encola el procesamiento real (transcripción, tool calling
        del Agente 2, respuesta) de forma asíncrona — si se demora en
        responder o responde distinto de 200, Meta reintenta la entrega y
        puede duplicar el evento.
      tags: [Agente 2 — WhatsApp]
      security: []
      x-roles: [público]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Payload crudo de WhatsApp Cloud API (webhook de mensajes).
      responses:
        "200":
          description: Evento recibido (aceptado para procesamiento asíncrono).
        "401":
          description: Firma X-Hub-Signature-256 ausente o inválida.

  /catalog/search:
    get:
      operationId: searchCatalog
      summary: Búsqueda de modelos disponibles en el catálogo
      description: >
        Endpoint público. También usado por el Agente 3 (Conserje de Voz) vía
        tool calling para responder solicitudes de búsqueda por voz — por eso
        `page`/`pageSize` son opcionales y NO cambian la forma de la
        respuesta (sigue siendo un array plano): omitidos, se devuelve el
        resultado completo sin paginar (comportamiento histórico, el que usan
        los Agentes 2/3); provistos, el array devuelto es la página pedida y
        el total real va en el header `X-Total-Count` (HU-12.1, Fase 3).
      tags: [Catálogo e Inventario]
      security: []
      x-roles: [público]
      parameters:
        - name: q
          in: query
          schema: { type: string }
          description: Texto de búsqueda libre (nombre, marca, categoría).
        - name: categoria
          in: query
          schema: { type: string }
        - name: fecha_inicio
          in: query
          schema: { type: string, format: date }
        - name: fecha_fin
          in: query
          schema: { type: string, format: date }
        - name: page
          in: query
          schema: { type: integer, minimum: 1 }
          description: "1-based. Si se omite (junto con pageSize), no pagina."
        - name: pageSize
          in: query
          schema: { type: integer, enum: [6, 12, 24] }
      responses:
        "200":
          description: >
            Lista de modelos que cumplen el criterio de búsqueda (página
            pedida si se enviaron page/pageSize, completa si no).
          headers:
            X-Total-Count:
              description: Total de resultados sin paginar. Presente solo si se pidió paginación.
              schema: { type: integer }
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ToolModel" }

  /zones:
    get:
      operationId: listZones
      summary: Listar zonas logísticas de una ciudad — HU-12.2, Fase 3
      description: >
        Público (se consulta desde la ficha técnica antes de que el visitante
        se autentique). Sin `ciudad`, devuelve todas las zonas de todas las
        ciudades.
      tags: [Catálogo e Inventario]
      security: []
      x-roles: [público]
      parameters:
        - name: ciudad
          in: query
          schema: { type: string, enum: [Medellín, Bogotá] }
      responses:
        "200":
          description: Zonas que cumplen el filtro de ciudad.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Zona" }

  /catalog/models/{id}:
    get:
      operationId: getModelById
      summary: Ficha técnica de un modelo
      description: Devuelve la ficha técnica completa de un modelo de herramienta, incluida su tarifa diaria/semanal y condiciones de garantía.
      tags: [Catálogo e Inventario]
      security: []
      x-roles: [público]
      parameters:
        - $ref: "#/components/parameters/idPath"
      responses:
        "200":
          description: Ficha técnica del modelo.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ToolModel" }
        "404": { $ref: "#/components/responses/NotFound" }

  /inventory/models:
    post:
      operationId: createToolModel
      summary: Registrar ficha técnica de un nuevo modelo (RF-1.1)
      description: Da de alta un nuevo modelo de herramienta en el catálogo, con sus tarifas y parámetros de garantía y mora.
      tags: [Catálogo e Inventario]
      x-roles: [admin]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ToolModelInput" }
      responses:
        "201":
          description: Modelo creado.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ToolModel" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /inventory/units:
    post:
      operationId: createToolUnit
      summary: Alta de unidad física + generación de QR (RF-1.2, HU-13.2)
      description: >
        Registra una unidad física serializada de un modelo existente y
        genera su código QR único (vectorial, ver `qr_code_url`). `numero_serie`
        es el serial del fabricante — HU-13.2 lo muestra junto al QR en la
        vista previa imprimible como el código legible por humanos (no se
        genera un identificador propio adicional tipo "TBJL-DEM-0089": el
        ejemplo del PRD se satisface con el `numero_serie` que ingresa el
        almacenista).
      tags: [Catálogo e Inventario]
      x-roles: [almacenista, admin]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [modelo_id, numero_serie, fecha_adquisicion, costo_compra, ubicacion_bodega]
              properties:
                modelo_id: { type: string, format: uuid }
                numero_serie: { type: string }
                fecha_adquisicion: { type: string, format: date }
                costo_compra: { type: integer, description: "COP" }
                ubicacion_bodega: { type: string, description: "Ej. 'Estante A3'" }
      responses:
        "201":
          description: Unidad física creada, con su UUID y QR generados.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ToolUnit" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

    get:
      operationId: listToolUnits
      summary: Panel administrativo de inventario — tabla filtrable (HU-13.1)
      description: >
        Listado paginado de unidades físicas para el panel
        `/logistica/inventario` de `apps/panel-admin`, expandido con
        `modelo_nombre`/`modelo_categoria` (evita que el frontend haga N+1 a
        `GET /catalog/models/{id}` por fila). `estado` en la respuesta es un
        estado DE VISUALIZACIÓN, distinto de `ToolUnit.estado` persistido:
        una unidad con `ToolUnit.estado = Operativo` que tiene un
        `OrderItem` vigente en una Order `confirmada`/`en_curso` se muestra
        acá como `En Alquiler` — ese cruce con Órdenes es el único lugar
        donde existe el concepto "En Alquiler" (no es un valor del enum
        persistido de `ToolUnit.estado`, ver ese schema).
      tags: [Catálogo e Inventario]
      x-roles: [almacenista, admin]
      parameters:
        - name: q
          in: query
          description: Búsqueda libre por código QR (UUID), Serial o nombre de Modelo.
          schema: { type: string }
        - name: estado
          in: query
          description: Filtra por el estado DE VISUALIZACIÓN (ver descripción del endpoint), no el enum persistido.
          schema:
            type: string
            enum: [Operativo, En Alquiler, En Mantenimiento, Dado de Baja]
        - name: page
          in: query
          schema: { type: integer, minimum: 1, default: 1 }
        - name: pageSize
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
      responses:
        "200":
          description: Página de unidades físicas filtradas.
          content:
            application/json:
              schema:
                type: object
                required: [items, total, page, pageSize]
                properties:
                  items:
                    type: array
                    items:
                      allOf:
                        - $ref: "#/components/schemas/ToolUnit"
                        - type: object
                          properties:
                            modelo_nombre: { type: string }
                            modelo_categoria: { type: string }
                            estado_visualizacion:
                              type: string
                              enum: [Operativo, En Alquiler, En Mantenimiento, Dado de Baja]
                  total: { type: integer }
                  page: { type: integer }
                  pageSize: { type: integer }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /inventory/metrics:
    get:
      operationId: getInventoryMetrics
      summary: Tarjetas de KPIs del panel de inventario (HU-13.1)
      description: Los 4 conteos de las tarjetas superiores de `/logistica/inventario`. Mismo cruce con Órdenes que `GET /inventory/units` para "en_alquiler".
      tags: [Catálogo e Inventario]
      x-roles: [almacenista, admin]
      responses:
        "200":
          description: Conteos agregados de la flota de unidades físicas.
          content:
            application/json:
              schema:
                type: object
                required: [total_unidades, operativas, en_alquiler, en_mantenimiento_o_baja]
                properties:
                  total_unidades: { type: integer }
                  operativas: { type: integer }
                  en_alquiler: { type: integer }
                  en_mantenimiento_o_baja: { type: integer }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /inventory/maintenance:
    get:
      operationId: listMaintenanceUnits
      summary: Pestaña "Mantenimiento & Taller" (HU-13.3)
      description: >
        Unidades actualmente `En Mantenimiento` o `Dado de Baja`, con los
        datos de taller de su entrada más reciente en la hoja de vida
        (`ToolUnitStatusLogEntry` — ver los campos nuevos de mantenimiento
        en ese schema, poblados por `PATCH /inventory/units/{id}/status`).
      tags: [Catálogo e Inventario]
      x-roles: [almacenista, admin]
      responses:
        "200":
          description: Unidades en taller o dadas de baja, con su último evento de mantenimiento.
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: "#/components/schemas/ToolUnit"
                    - type: object
                      properties:
                        modelo_nombre: { type: string }
                        ultimo_evento_mantenimiento: { $ref: "#/components/schemas/ToolUnitStatusLogEntry" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /inventory/units/{id}:
    get:
      operationId: getToolUnitById
      summary: Ficha de una unidad física al escanear su QR (RF-1.4)
      description: >
        Devuelve la ficha de una unidad física a partir del escaneo de su
        QR. NO incluye la hoja de vida completa (para eso ver
        `GET /inventory/units/{id}/history`) — corregido en Sprint 14, la
        descripción original de este endpoint prometía una "hoja de vida
        resumida" que nunca llegó a declararse en el schema `ToolUnit`.
      tags: [Catálogo e Inventario]
      x-roles: [almacenista, repartidor, admin]
      parameters:
        - $ref: "#/components/parameters/idPath"
      responses:
        "200":
          description: Ficha de la unidad.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ToolUnit" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /inventory/units/{id}/history:
    get:
      operationId: getToolUnitHistory
      summary: Hoja de vida completa de una unidad (HU-13.1, botón "Historial")
      description: >
        Todas las entradas de `tool_unit_status_log` de esta unidad, orden
        cronológico descendente (más reciente primero) — gap detectado en
        Sprint 14 al implementar el botón "Historial" del panel de
        inventario: no existía ningún endpoint para listar la hoja de vida
        completa, solo el estado actual.
      tags: [Catálogo e Inventario]
      x-roles: [almacenista, admin]
      parameters:
        - $ref: "#/components/parameters/idPath"
      responses:
        "200":
          description: Hoja de vida completa de la unidad.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ToolUnitStatusLogEntry" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /inventory/units/{id}/status:
    patch:
      operationId: updateToolUnitStatus
      summary: Cambio de estado de una unidad + registro en hoja de vida (RF-1.3, HU-13.3)
      description: >
        Actualiza el estado de desgaste de una unidad física y crea la
        entrada correspondiente en su hoja de vida (tool_unit_status_log).
        `x-roles` amplía a `admin` sobre el contrato original (RF-1.3) para
        cubrir HU-13.3 ("Asignación de una unidad a mantenimiento" /
        "Reintegrar a Servicio" / "Declarar Baja Definitiva" desde el panel
        admin) — el flujo de repartidor/almacenista original sigue igual.
        Los campos de mantenimiento (`tipo_mantenimiento`,
        `falla_reportada`, etc.) solo aplican cuando `estado_nuevo` es
        `En Mantenimiento`; `motivo_baja` solo aplica cuando `estado_nuevo`
        es `Dado de Baja` — el backend no los exige por tipo (quedarían
        `null` en la hoja de vida si se omiten), la UI del panel admin es
        quien los pide como obligatorios en cada caso.
      tags: [Catálogo e Inventario]
      x-roles: [almacenista, repartidor, admin]
      parameters:
        - $ref: "#/components/parameters/idPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [estado_nuevo]
              properties:
                estado_nuevo:
                  type: string
                  enum: [Nuevo, Excelente, Operativo, En Mantenimiento, Dado de Baja]
                fotos_urls:
                  type: array
                  items: { type: string, format: uri }
                tipo_mantenimiento:
                  type: string
                  enum: [Preventivo, Correctivo]
                falla_reportada: { type: string }
                tecnico_asignado: { type: string }
                costo_estimado: { type: integer, description: "COP" }
                fecha_prevista_fin: { type: string, format: date }
                motivo_baja: { type: string }
      responses:
        "200":
          description: Estado actualizado; entrada de hoja de vida creada.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ToolUnitStatusLogEntry" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /inventory/check-availability:
    get:
      operationId: checkAvailability
      summary: Disponibilidad de un modelo por rango de fechas
      description: >
        Invocado por el Cliente en el flujo de cotización y por los Agentes 2 y 3
        vía tool calling (TRD §4.2, §4.3).
      tags: [Logística]
      x-roles: [cliente, agente-2, agente-3]
      parameters:
        - name: modelo_id
          in: query
          required: true
          schema: { type: string, format: uuid }
        - name: fecha_inicio
          in: query
          required: true
          schema: { type: string, format: date }
        - name: fecha_fin
          in: query
          required: true
          schema: { type: string, format: date }
      responses:
        "200":
          description: Cantidad de unidades disponibles en el rango solicitado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  modelo_id: { type: string, format: uuid }
                  unidades_disponibles: { type: integer }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /orders/quote:
    post:
      operationId: createQuote
      summary: Cotización de alquiler/venta (RF-2.1)
      description: Calcula la cotización de un alquiler o venta, desglosando tarifa base, recargo logístico y depósito de garantía.
      tags: ["Cotización, Órdenes y Pagos"]
      x-roles: [cliente]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [modelo_id, tipo]
              properties:
                modelo_id: { type: string, format: uuid }
                tipo: { type: string, enum: [alquiler, venta] }
                fecha_inicio: { type: string, format: date }
                fecha_fin: { type: string, format: date }
                direccion_entrega: { type: string }
                zona_id: { type: string, format: uuid }
      responses:
        "200":
          description: Cotización desglosada por concepto.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Quote" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /orders:
    get:
      operationId: listMyOrders
      summary: Listar mis pedidos (cliente autenticado) — HU-12.1, Fase 3
      description: >
        Pedidos del cliente autenticado (el `cliente_id` sale del JWT, no es
        un parámetro) para la sección "Mis Pedidos Activos" del Home/Catálogo.
        Paginado en bloques de 5 por defecto.
      tags: ["Cotización, Órdenes y Pagos"]
      x-roles: [cliente]
      parameters:
        - name: estado
          in: query
          schema:
            type: string
            enum: [pendiente_pago, confirmada, en_curso, devuelta, cerrada, cancelada]
          description: Sin este filtro, devuelve todos los estados.
        - name: page
          in: query
          schema: { type: integer, minimum: 1, default: 1 }
        - name: pageSize
          in: query
          schema: { type: integer, default: 5 }
      responses:
        "200":
          description: Página de pedidos del cliente, ordenados del más reciente al más antiguo.
          content:
            application/json:
              schema:
                type: object
                required: [items, total, page, pageSize]
                properties:
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/Order" }
                  total: { type: integer }
                  page: { type: integer }
                  pageSize: { type: integer }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      operationId: createOrder
      summary: Crear orden (alquiler o venta)
      description: Crea una orden de alquiler o venta a partir de una cotización aceptada por el cliente.
      tags: ["Cotización, Órdenes y Pagos"]
      x-roles: [cliente]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OrderInput" }
      responses:
        "201":
          description: Orden creada en estado pendiente_pago.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Order" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /orders/{id}:
    get:
      operationId: getOrderById
      summary: Detalle de una orden
      description: Devuelve el detalle completo de una orden, incluidos sus ítems.
      tags: ["Cotización, Órdenes y Pagos"]
      x-roles: [cliente-propietario, admin, gerente]
      parameters:
        - $ref: "#/components/parameters/idPath"
      responses:
        "200":
          description: Detalle completo de la orden.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Order" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /orders/{id}/pay:
    post:
      operationId: payOrder
      summary: Iniciar pago vía Wompi (PSE/Tarjeta/Contra Entrega) — RF-2.2, RF-2.3
      description: Inicia el pago de una orden a través de Wompi con el método elegido por el cliente.
      tags: ["Cotización, Órdenes y Pagos"]
      x-roles: [cliente]
      parameters:
        - $ref: "#/components/parameters/idPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [metodo]
              properties:
                metodo: { type: string, enum: [pse, tarjeta, contra_entrega] }
      responses:
        "200":
          description: >
            Transacción iniciada. Con tarjeta, el depósito de garantía se
            ejecuta como hold; con PSE se cobra y se reembolsa tras
            inspección satisfactoria; con contra entrega la transacción
            queda reservada hasta la confirmación del Repartidor.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Payment" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /orders/{id}/confirm-cod-payment:
    post:
      operationId: confirmCodPayment
      summary: Confirmar pago contra entrega (RF-2.4)
      description: Confirma, desde la PWA del Repartidor, que el pago contra entrega fue recibido.
      tags: ["Cotización, Órdenes y Pagos"]
      x-roles: [repartidor]
      parameters:
        - $ref: "#/components/parameters/idPath"
      responses:
        "200":
          description: Pago contra entrega confirmado; el Payment pasa a estado capturado.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Payment" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /rentals/extend:
    post:
      operationId: extendRental
      summary: Extender un alquiler activo
      description: >
        Invocado directamente por el Cliente o por el Agente 2 (WhatsApp) vía
        tool calling tras confirmar disponibilidad futura (TRD §4.2).
      tags: ["Cotización, Órdenes y Pagos"]
      x-roles: [cliente, agente-2]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order_id, nueva_fecha_fin]
              properties:
                order_id: { type: string, format: uuid }
                nueva_fecha_fin: { type: string, format: date }
                modo_cobro:
                  type: string
                  enum: [link_pago, acumular_a_factura_final]
      responses:
        "200":
          description: Orden extendida.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Order" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /fleet/vehicles:
    post:
      operationId: createVehicle
      summary: Registrar vehículo (RF-3.1)
      description: Registra un vehículo de la flota con su capacidad de carga y zonas asignadas.
      tags: [Logística]
      x-roles: [admin]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/VehicleInput" }
      responses:
        "201":
          description: Vehículo registrado.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Vehicle" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

    get:
      operationId: getVehicles
      summary: Listar vehículos de la flota (Sprint 7, HU-8.1)
      description: >
        Consumido por el Agente 1 (batch nocturno) vía tool calling para
        conocer capacidad (kg/m³) y zonas de cada vehículo antes de armar
        las rutas (TRD §4.1). También usado por Admin para el panel de
        flota.
      tags: [Logística]
      x-roles: [agente-1, admin]
      responses:
        "200":
          description: Lista de vehículos de la flota.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Vehicle" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /logistics/pending-orders:
    get:
      operationId: getPendingOrders
      summary: Pedidos confirmados sin ruta asignada
      description: >
        Consumido por el Agente 1 (batch nocturno) vía tool calling (TRD
        §4.1). Devuelve el Shipment expandido con la `zona_id` de la Order
        asociada y el `peso_kg`/`volumen_m3` del ToolModel de cada ítem
        (sumados si la orden tiene más de un ítem) — datos necesarios para
        el clustering por zona y el bin-packing por capacidad. Estos campos
        NO viven en el schema `Shipment` genérico (el que usa
        `GET /logistics/shipments` para el panel de seguimiento): son
        específicos de este endpoint, calculados en el momento.
      tags: [Logística]
      x-roles: [agente-1, admin]
      responses:
        "200":
          description: Lista de pedidos pendientes de asignación de ruta, con datos de zona/capacidad.
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: "#/components/schemas/Shipment"
                    - type: object
                      properties:
                        zona_id: { type: string, format: uuid }
                        peso_kg: { type: number, description: "Suma de los ítems de la orden." }
                        volumen_m3: { type: number, description: "Suma de los ítems de la orden." }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /logistics/assign-routes:
    post:
      operationId: assignRoutes
      summary: Publicar rutas del día (RF-3.1)
      description: Invocado por el Agente 1 tras optimizar por zona y capacidad de vehículo.
      tags: [Logística]
      x-roles: [agente-1, admin]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items: { $ref: "#/components/schemas/RouteInput" }
      responses:
        "201":
          description: Rutas publicadas.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Route" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /logistics/my-route:
    get:
      operationId: getMyRoute
      summary: Ruta del día del Repartidor autenticado (HU-8.2)
      description: >
        Resuelve el vehículo asignado al Repartidor autenticado
        (`Vehicle.repartidor_id`) y devuelve la Route de hoy para ese
        vehículo, con las paradas expandidas y en el mismo orden en que
        aparecen en `Route.paradas` (secuencia optimizada por el Agente 1 o,
        si `generada_por: manual`, por quien haya publicado la ruta).
      tags: [Logística]
      x-roles: [repartidor]
      responses:
        "200":
          description: Ruta de hoy del Repartidor, con sus paradas expandidas.
          content:
            application/json:
              schema:
                type: object
                properties:
                  route: { $ref: "#/components/schemas/Route" }
                  paradas:
                    type: array
                    description: Mismo orden que Route.paradas, con el detalle de cada parada.
                    items:
                      type: object
                      properties:
                        shipment_id: { type: string, format: uuid }
                        order_id: { type: string, format: uuid }
                        tipo: { type: string, enum: [entrega, recogida] }
                        estado_envio:
                          type: string
                          enum: [pendiente_asignacion, en_ruta_entrega, entregado, en_ruta_recogida, retornado]
                        direccion: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404":
          description: El Repartidor no tiene vehículo asignado, o no hay ninguna Route publicada para hoy.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /logistics/shipments:
    get:
      operationId: getShipments
      summary: Panel de seguimiento de envíos en tiempo real (RF-3.3)
      description: >
        El listado inicial se sirve por este endpoint; las actualizaciones en
        vivo del panel se reciben por Supabase Realtime, no por polling.
      tags: [Logística]
      x-roles: [gerente, admin]
      responses:
        "200":
          description: Envíos en curso con su estado actual.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Shipment" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /logistics/routes-today:
    get:
      operationId: getRoutesToday
      summary: Pestaña "Rutas del Día" del panel de inventario (HU-13.4)
      description: >
        Agrupa las Route de hoy por repartidor, expandidas con
        nombre/vehículo/placa y el detalle de cada parada (cliente,
        dirección, herramientas con sus seriales). `hora_estimada_llegada`
        es una ESTIMACIÓN naive (hora de inicio de jornada 08:00 +
        45 min × posición de la parada en la secuencia de `Route.paradas`),
        no telemetría GPS en tiempo real — no existe tracking de vehículos
        en este sprint; documentado así porque el PRD pide la columna pero
        no hay fuente de datos real para calcularla con precisión.
      tags: [Logística]
      x-roles: [admin, gerente]
      responses:
        "200":
          description: Rutas de hoy agrupadas por repartidor.
          content:
            application/json:
              schema:
                type: object
                properties:
                  repartidores:
                    type: array
                    items:
                      type: object
                      properties:
                        repartidor_id: { type: string, format: uuid }
                        nombre: { type: string }
                        vehiculo_id: { type: string, format: uuid }
                        placa: { type: string, nullable: true }
                        total_paradas: { type: integer }
                        paradas_completadas: { type: integer }
                        porcentaje_avance: { type: number, description: "0-100" }
                        estado_ruta: { type: string, enum: [Pendiente, En Progreso, Completada] }
                        paradas:
                          type: array
                          items:
                            type: object
                            properties:
                              shipment_id: { type: string, format: uuid }
                              order_id: { type: string, format: uuid }
                              tipo: { type: string, enum: [entrega, recogida] }
                              estado_envio:
                                type: string
                                enum: [pendiente_asignacion, en_ruta_entrega, entregado, en_ruta_recogida, retornado]
                              direccion: { type: string }
                              cliente_nombre: { type: string }
                              hora_estimada_llegada: { type: string, description: "HH:mm — estimación, ver descripción del endpoint." }
                              herramientas:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    modelo_nombre: { type: string }
                                    numero_serie: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /inspections:
    post:
      operationId: createInspection
      summary: Registrar checklist de salida/recepción (RF-4.2)
      description: Registra el checklist de inspección de salida o recepción de una unidad física, con evidencia fotográfica.
      tags: [Inspección y Mora]
      x-roles: [almacenista, repartidor]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/InspectionChecklistInput" }
      responses:
        "201":
          description: >
            Checklist registrado. Si `hallazgos` indica daño o pieza
            faltante, se dispara el evento de dominio InspeccionConHallazgo
            que ejecuta la garantía (GarantiaExecutionHandler, ver Esquema
            de Backend §5).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InspectionChecklist" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /billing/mora/{orderId}:
    get:
      operationId: getMoraByOrder
      summary: Consultar comprobante de mora generado (RF-4.3)
      description: Devuelve el comprobante de mora generado para una orden, si el MoraCalculatorJob ya lo emitió.
      tags: [Inspección y Mora]
      x-roles: [cliente, admin]
      parameters:
        - name: orderId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Comprobante de mora de la orden, si existe.
          content:
            application/json:
              schema:
                type: object
                properties:
                  order_id: { type: string, format: uuid }
                  dias_retraso: { type: number }
                  interes_mora_dia: { type: number }
                  monto_mora: { type: integer, description: "COP" }
        "404": { $ref: "#/components/responses/NotFound" }

  /cart:
    get:
      operationId: getCart
      summary: Ver carrito activo
      description: Devuelve el carrito de compras activo del cliente autenticado.
      tags: [Carrito y Conserje de Voz]
      x-roles: [cliente]
      responses:
        "200":
          description: Carrito del cliente autenticado.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Cart" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /cart/add-item:
    post:
      operationId: addCartItem
      summary: Agregar producto al carrito
      description: >
        Invocado directamente por el Cliente o, vía tool calling, por el
        Agente 3 (Conserje de Voz, TRD §4.3) tras confirmación verbal. El
        Agente 3 NO tiene una cuenta de servicio propia (a diferencia de los
        Agentes 1/2): llama este endpoint reenviando el mismo JWT de
        Supabase del cliente autenticado que abrió la sesión de voz (ver
        `POST /voice-agent/livekit-token`) — el request llega autenticado
        como `cliente`, nunca como un rol de servicio separado. Sprint 9
        solo soporta clientes ya autenticados (visitante anónimo queda fuera
        de alcance, ver ADR de Sprint 9).
      tags: [Carrito y Conserje de Voz]
      x-roles: [cliente]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CartItem" }
      responses:
        "200":
          description: Carrito actualizado.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Cart" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /cart/items/{id}:
    patch:
      operationId: updateCartItem
      summary: Cambiar la cantidad de una línea del carrito — HU-12.3, Fase 3
      description: >
        `id` es el id de la línea (`CartItem.id`), no el `modelo_id`. No
        soporta cambiar `dias`/modalidad de una línea existente — para eso,
        eliminar y volver a agregar.
      tags: [Carrito y Conserje de Voz]
      x-roles: [cliente]
      parameters:
        - $ref: "#/components/parameters/idPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cantidad]
              properties:
                cantidad: { type: integer, minimum: 1 }
      responses:
        "200":
          description: Carrito actualizado.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Cart" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      operationId: removeCartItem
      summary: Eliminar una línea del carrito — HU-12.3, Fase 3
      description: "`id` es el id de la línea (`CartItem.id`), no el `modelo_id`."
      tags: [Carrito y Conserje de Voz]
      x-roles: [cliente]
      parameters:
        - $ref: "#/components/parameters/idPath"
      responses:
        "200":
          description: Carrito actualizado (sin la línea eliminada).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Cart" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /orders/checkout-cart:
    post:
      operationId: checkoutCart
      summary: Confirmar el carrito completo como órdenes — HU-12.3, Fase 3
      description: >
        A diferencia de `POST /orders` (una orden, un `modelo_id`), este
        endpoint procesa TODAS las líneas del carrito activo del cliente de
        una sola vez, con la misma zona/dirección de entrega para todas
        (checkout consolidado, botón "Proceder al Pago" del carrito). Crea
        una orden independiente por cada línea del carrito (reutiliza la
        misma lógica de `CrearOrdenUseCase`, una vez por línea) — best
        effort: una línea que falle (ej. sin unidades disponibles) no
        cancela las demás. Las líneas creadas exitosamente se retiran del
        carrito; las que fallaron quedan para que el cliente las reintente o
        elimine. No inicia el pago (eso sigue siendo `POST /orders/{id}/pay`
        por cada orden resultante, igual que el flujo de un solo ítem).
      tags: [Carrito y Conserje de Voz]
      x-roles: [cliente]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [direccion_entrega, zona_id]
              properties:
                direccion_entrega: { type: string }
                zona_id: { type: string, format: uuid }
                return_mode:
                  type: string
                  enum: [en_sede, recogida_domicilio]
      responses:
        "200":
          description: Resultado del checkout — puede incluir éxitos y fallos parciales.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CheckoutCartResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /voice-agent/livekit-token:
    post:
      operationId: issueVoiceAgentLivekitToken
      summary: Emitir token de sala LiveKit para iniciar sesión de voz (Agente 3)
      description: >
        HU-10.1/10.2, TRD §4.3 ("tokens de sala de corta duración emitidos
        por el backend"). El backend arma una sala LiveKit nueva (o se une a
        una existente del cliente), emite un token de corta duración
        (`LIVEKIT_API_KEY`/`LIVEKIT_API_SECRET`) y embebe el JWT de Supabase
        del propio cliente (el mismo Bearer usado para esta llamada) como
        metadata del participante — el proceso del Agente 3
        (`apps/voice-agent`) lo lee ahí y lo reenvía tal cual al invocar
        `GET /cart`/`POST /cart/add-item`/`GET /catalog/search` en nombre de
        este cliente. No crea ninguna cuenta de servicio nueva.
      tags: [Carrito y Conserje de Voz]
      x-roles: [cliente]
      responses:
        "200":
          description: Credenciales de sala LiveKit para el widget de voz.
          content:
            application/json:
              schema:
                type: object
                required: [url, token, room]
                properties:
                  url: { type: string, description: "URL del servidor LiveKit (wss://...)." }
                  token: { type: string, description: "Token de acceso de corta duración del participante." }
                  room: { type: string, description: "Nombre de la sala LiveKit." }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /analytics/revenue:
    get:
      operationId: getRevenue
      summary: Ingresos totales desglosados (Fase 1)
      description: Devuelve los ingresos totales del periodo solicitado, desglosados por venta, alquiler y mora (RF de Analítica, Fase 1).
      tags: [Analítica]
      x-roles: [gerente, admin]
      parameters:
        - name: periodo
          in: query
          schema: { type: string, description: "p. ej. 2026-08 o rango ISO" }
      responses:
        "200":
          description: Ingresos desglosados por venta, alquiler y mora.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ventas_directas: { type: integer, description: "COP" }
                  tarifas_alquiler: { type: integer, description: "COP" }
                  cobros_mora: { type: integer, description: "COP" }
                  total: { type: integer, description: "COP" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /analytics/roi:
    get:
      operationId: getRoi
      summary: ROI por herramienta (Fase 2)
      description: Devuelve el ROI calculado por modelo de herramienta (Fase 2).
      tags: [Analítica]
      x-roles: [gerente, admin]
      parameters:
        - name: modelo_id
          in: query
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: ROI calculado por modelo/SKU.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    modelo_id: { type: string, format: uuid }
                    roi_pct: { type: number }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /analytics/utilization:
    get:
      operationId: getUtilization
      summary: Tasa de utilización de inventario (Fase 2)
      description: Devuelve la tasa de utilización de inventario, global y por modelo (Fase 2).
      tags: [Analítica]
      x-roles: [gerente, admin]
      responses:
        "200":
          description: Tasa de utilización por modelo y global.
          content:
            application/json:
              schema:
                type: object
                properties:
                  utilizacion_global_pct: { type: number }
                  por_modelo:
                    type: array
                    items:
                      type: object
                      properties:
                        modelo_id: { type: string, format: uuid }
                        utilizacion_pct: { type: number }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /analytics/delivery-productivity:
    get:
      operationId: getDeliveryProductivity
      summary: Productividad de repartidores (Fase 2)
      description: Devuelve la productividad de cada repartidor del periodo solicitado (Fase 2).
      tags: [Analítica]
      x-roles: [gerente, admin]
      responses:
        "200":
          description: Productividad por repartidor.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    repartidor_id: { type: string, format: uuid }
                    entregas_exitosas: { type: integer }
                    ruta_asignada: { type: integer }
                    tiempo_promedio_min: { type: number }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        JWT emitido por Supabase Auth. Los endpoints invocados por agentes de
        IA (x-roles con prefijo "agente-") usan un JWT de servicio con scope
        restringido a las tools que ese agente tiene permitido llamar (TRD §4).

  parameters:
    idPath:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }

  responses:
    BadRequest:
      description: Solicitud inválida (validación de DTO fallida).
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Unauthorized:
      description: JWT ausente o inválido.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Forbidden:
      description: Rol autenticado sin permiso para esta operación (guard RBAC).
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    NotFound:
      description: Recurso no encontrado.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

  schemas:
    Error:
      type: object
      properties:
        code: { type: string }
        message: { type: string }

    ToolModel:
      type: object
      properties:
        id: { type: string, format: uuid }
        nombre: { type: string }
        marca: { type: string }
        categoria: { type: string }
        potencia_w: { type: number }
        peso_kg: { type: number }
        volumen_m3: { type: number }
        tarifa_dia: { type: integer, description: "COP" }
        tarifa_semana: { type: integer, description: "COP" }
        costo_compra: { type: integer, description: "COP" }
        deposito_pct: { type: number }
        interes_mora_dia: { type: number }
        manual_pdf_url: { type: string, format: uri }
        disponible_para_venta: { type: boolean }
        precio_venta:
          type: integer
          nullable: true
          description: >
            COP. Solo aplica si disponible_para_venta=true; null si el
            modelo no está en venta directa (HU-12.2, Fase 3).

    ToolModelInput:
      allOf:
        - $ref: "#/components/schemas/ToolModel"
      required: [nombre, marca, categoria, tarifa_dia]

    Zona:
      type: object
      description: >
        HU-12.2 (Fase 3): antes zona_id era un UUID suelto sin relación a
        ciudad; este schema formaliza esa relación para el selector dinámico
        Medellín/Bogotá de la ficha técnica.
      properties:
        id: { type: string, format: uuid }
        nombre: { type: string, example: "Chapinero" }
        ciudad: { type: string, enum: [Medellín, Bogotá] }

    ToolUnit:
      type: object
      properties:
        id: { type: string, format: uuid }
        modelo_id: { type: string, format: uuid }
        numero_serie: { type: string }
        estado:
          type: string
          enum: [Nuevo, Excelente, Operativo, En Mantenimiento, Dado de Baja]
        fecha_ingreso: { type: string, format: date }
        qr_code_url: { type: string, format: uri }
        fecha_adquisicion:
          type: string
          format: date
          nullable: true
          description: "Sprint 14 (HU-13.2). Nullable — unidades creadas antes de este campo no lo tienen."
        costo_compra:
          type: integer
          nullable: true
          description: "COP. Sprint 14 (HU-13.2)."
        ubicacion_bodega:
          type: string
          nullable: true
          description: "Sprint 14 (HU-13.2), ej. 'Estante A3'."

    ToolUnitStatusLogEntry:
      type: object
      properties:
        id: { type: string, format: uuid }
        unidad_id: { type: string, format: uuid }
        estado_anterior:
          type: string
          enum: [Nuevo, Excelente, Operativo, En Mantenimiento, Dado de Baja]
        estado_nuevo:
          type: string
          enum: [Nuevo, Excelente, Operativo, En Mantenimiento, Dado de Baja]
        fotos_urls:
          type: array
          items: { type: string, format: uri }
        autor_id: { type: string, format: uuid }
        created_at: { type: string, format: date-time }
        tipo_mantenimiento:
          type: string
          nullable: true
          enum: [Preventivo, Correctivo]
          description: "Sprint 14 (HU-13.3). Solo poblado cuando estado_nuevo = En Mantenimiento."
        falla_reportada: { type: string, nullable: true, description: "Sprint 14 (HU-13.3)." }
        tecnico_asignado: { type: string, nullable: true, description: "Sprint 14 (HU-13.3)." }
        costo_estimado: { type: integer, nullable: true, description: "COP. Sprint 14 (HU-13.3)." }
        fecha_prevista_fin: { type: string, format: date, nullable: true, description: "Sprint 14 (HU-13.3)." }
        motivo_baja:
          type: string
          nullable: true
          description: "Sprint 14 (HU-13.3). Solo poblado cuando estado_nuevo = Dado de Baja."

    User:
      type: object
      properties:
        id: { type: string, format: uuid }
        rol:
          type: string
          enum: [admin, gerente, almacenista, repartidor, cliente]
        nombre: { type: string }
        email: { type: string, format: email }
        telefono: { type: string }
        tipo_cliente:
          type: string
          nullable: true
          enum: [B2C, B2B]

    Order:
      type: object
      properties:
        id: { type: string, format: uuid }
        cliente_id: { type: string, format: uuid }
        tipo: { type: string, enum: [alquiler, venta] }
        estado:
          type: string
          enum: [pendiente_pago, confirmada, en_curso, devuelta, cerrada, cancelada]
        fecha_inicio: { type: string, format: date, nullable: true }
        fecha_fin: { type: string, format: date, nullable: true }
        return_mode:
          type: string
          enum: [en_sede, recogida_domicilio]
        direccion_entrega: { type: string }
        zona_id: { type: string, format: uuid }
        items:
          type: array
          items: { $ref: "#/components/schemas/OrderItem" }

    OrderInput:
      type: object
      required: [tipo, modelo_id]
      properties:
        modelo_id: { type: string, format: uuid }
        tipo: { type: string, enum: [alquiler, venta] }
        fecha_inicio: { type: string, format: date }
        fecha_fin: { type: string, format: date }
        return_mode:
          type: string
          enum: [en_sede, recogida_domicilio]
        direccion_entrega: { type: string }
        zona_id: { type: string, format: uuid }

    OrderItem:
      type: object
      properties:
        id: { type: string, format: uuid }
        order_id: { type: string, format: uuid }
        unidad_id: { type: string, format: uuid }
        tarifa_aplicada: { type: integer, description: "COP" }

    Payment:
      type: object
      properties:
        id: { type: string, format: uuid }
        order_id: { type: string, format: uuid }
        tipo:
          type: string
          enum: [pago_alquiler, pago_venta, deposito_garantia, cobro_mora]
        metodo: { type: string, enum: [pse, tarjeta, contra_entrega] }
        estado:
          type: string
          enum: [pendiente, hold, capturado, reembolsado, fallido]
        monto: { type: integer, description: "COP" }
        wompi_transaction_id: { type: string, nullable: true }

    Quote:
      type: object
      properties:
        modelo_id: { type: string, format: uuid }
        tarifa_base: { type: integer, description: "COP" }
        recargo_logistico: { type: integer, description: "COP" }
        deposito_garantia: { type: integer, description: "COP" }
        total: { type: integer, description: "COP" }
        desglose:
          type: array
          items:
            type: object
            properties:
              concepto: { type: string }
              monto: { type: integer, description: "COP" }

    Vehicle:
      type: object
      properties:
        id: { type: string, format: uuid }
        tipo: { type: string, enum: [moto, camioneta, camion] }
        capacidad_kg: { type: number }
        capacidad_m3: { type: number }
        zonas:
          type: array
          items: { type: string, format: uuid }
        repartidor_id: { type: string, format: uuid, nullable: true }
        placa:
          type: string
          nullable: true
          description: "Sprint 14 (HU-13.4). Nullable — vehículos creados antes de este campo no lo tienen."

    VehicleInput:
      allOf:
        - $ref: "#/components/schemas/Vehicle"
      required: [tipo, capacidad_kg, capacidad_m3]

    Shipment:
      type: object
      properties:
        id: { type: string, format: uuid }
        order_id: { type: string, format: uuid }
        vehiculo_id: { type: string, format: uuid, nullable: true }
        tipo: { type: string, enum: [entrega, recogida] }
        estado_envio:
          type: string
          enum: [pendiente_asignacion, en_ruta_entrega, entregado, en_ruta_recogida, retornado]

    Route:
      type: object
      properties:
        id: { type: string, format: uuid }
        vehiculo_id: { type: string, format: uuid }
        fecha: { type: string, format: date }
        paradas:
          type: array
          items: { type: string, format: uuid, description: "shipment_id, en orden de secuencia" }
        generada_por: { type: string, enum: [agente_1, manual] }

    RouteInput:
      type: object
      required: [vehiculo_id, fecha, paradas]
      properties:
        vehiculo_id: { type: string, format: uuid }
        fecha: { type: string, format: date }
        paradas:
          type: array
          items: { type: string, format: uuid }

    InspectionChecklist:
      type: object
      properties:
        id: { type: string, format: uuid }
        unidad_id: { type: string, format: uuid }
        shipment_id: { type: string, format: uuid }
        tipo: { type: string, enum: [salida, recepcion] }
        hallazgos:
          type: array
          items:
            type: object
            properties:
              descripcion: { type: string }
              severidad: { type: string, enum: [leve, moderada, grave] }
        fotos_urls:
          type: array
          items: { type: string, format: uri }
        garantia_ejecutada: { type: boolean }

    InspectionChecklistInput:
      type: object
      required: [unidad_id, shipment_id, tipo]
      properties:
        unidad_id: { type: string, format: uuid }
        shipment_id: { type: string, format: uuid }
        tipo: { type: string, enum: [salida, recepcion] }
        hallazgos:
          type: array
          items:
            type: object
            properties:
              descripcion: { type: string }
              severidad: { type: string, enum: [leve, moderada, grave] }
        fotos_urls:
          type: array
          items: { type: string, format: uri }

    CartItem:
      type: object
      required: [modelo_id, cantidad]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          description: >
            Id de la línea (Sprint 13, HU-12.3) — no se manda en
            `POST /cart/add-item` (el backend lo asigna), pero sí es
            necesario para `PATCH`/`DELETE /cart/items/{id}`. Ausente en el
            body de request, siempre presente en las respuestas que
            devuelven `Cart`.
        modelo_id: { type: string, format: uuid }
        cantidad: { type: integer, minimum: 1 }
        dias: { type: integer, minimum: 1 }

    Cart:
      type: object
      properties:
        items:
          type: array
          items: { $ref: "#/components/schemas/CartItem" }
        total: { type: integer, description: "COP" }

    CheckoutCartResult:
      type: object
      description: Respuesta de `POST /orders/checkout-cart` (HU-12.3, Fase 3) — éxitos y fallos parciales por línea.
      required: [ordenes_creadas, fallos]
      properties:
        ordenes_creadas:
          type: array
          items: { $ref: "#/components/schemas/Order" }
        fallos:
          type: array
          items:
            type: object
            required: [modelo_id, motivo]
            properties:
              modelo_id: { type: string, format: uuid }
              motivo: { type: string }
